<a class="waves-effect waves-light btn left" href="">
      <i class="mdi-action-find-in-page left"></i>
      See code at Github
</a>
<a class="waves-effect waves-light btn right" ng-click="init()">
      <i class="mdi-image-rotate-left left"></i>
      Restart
</a>
<table>
      <thead></thead>
      <tbody>
            <tr>
                  <td class="col waves-effect waves-teal s4 box deep-orange" index="0" ng-click="mark($event)">
                        <i ng-class="boxIconClass[0]"></i>
                  </td>
                  <td class="col waves-effect waves-teal s4 box deep-orange" index="1" ng-click="mark($event)">
                        <i ng-class="boxIconClass[1]"></i>
                  </td>
                  <td class="col waves-effect waves-teal s4 box deep-orange" index="2" ng-click="mark($event)">
                        <i ng-class="boxIconClass[2]"></i>
                  </td>
            </tr>
            <tr>
                  <td class="col waves-effect waves-teal s4 box deep-orange" index="3" ng-click="mark($event)">
                        <i ng-class="boxIconClass[3]"></i>
                  </td>
                  <td class="col waves-effect waves-teal s4 box deep-orange" index="4" ng-click="mark($event)">
                        <i ng-class="boxIconClass[4]"></i>
                  </td>
                  <td class="col waves-effect waves-teal s4 box deep-orange" index="5" ng-click="mark($event)">
                        <i ng-class="boxIconClass[5]"></i>
                  </td>
            </tr>
            <tr>
                  <td class="col waves-effect waves-teal s4 box deep-orange" index="6" ng-click="mark($event)">
                        <i ng-class="boxIconClass[6]"></i>
                  </td>
                  <td class="col waves-effect waves-teal s4 box deep-orange" index="7" ng-click="mark($event)">
                        <i ng-class="boxIconClass[7]"></i>
                  </td>
                  <td class="col waves-effect waves-teal s4 box deep-orange" index="8" ng-click="mark($event)">
                        <i ng-class="boxIconClass[8]"></i>
                  </td>
            </tr>
      </tbody>
</table>