
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header blue-grey darken-1">
                <i class="material-icons">filter_drama</i> Instrucciones
            </div>
            <div class="collapsible-body">
                <p>
                    Instrucciones:
                    <br/>
                    Se debe crear una aplicación <em>simple</em> en donde 
                    se pueda completar uno o más juegos de totito (tic tac toe).
                    Las condiciones son: 
                </p>
                <ul class="collection">
                    <li class="collection-item">
                        <a class="secondary-content pull-left">
                            <i class="material-icons">label_outline</i>
                        </a>
                        Se puede trabajar sobre un framework (p.e. Angular para javascript, Django para python, Play para Java)
                    </li>
                    <li class="collection-item">
                        <a class="secondary-content pull-left">
                            <i class="material-icons">label_outline</i>
                        </a>
                        Se debe enviar las instrucciones para su ejecución y la carpeta con los archivos comprimidos
                    </li>
                    <li class="collection-item">
                        <a class="secondary-content pull-left">
                            <i class="material-icons">label_outline</i>
                        </a>
                        No debe ser muy compleja, para que pueda ser terminada en un promedio de dos a tres días
                    </li>
                </ul>
                <p>Las funcionalidades esperadas son: </p>
                <ul class="collection">
                    <li class="collection-item">
                        <a class="secondary-content pull-left">
                            <i class="material-icons">label_outline</i>
                        </a>
                        Se debe comenzar un juego sin necesidad de seleccionar la pieza
                    </li>
                    <li class="collection-item">
                        <a class="secondary-content pull-left">
                            <i class="material-icons">label_outline</i>
                        </a>
                        El juego es manual, no hay lógica de CPU contra la cual se juega
                    </li>
                    <li class="collection-item">
                        <a class="secondary-content pull-left">
                            <i class="material-icons">label_outline</i>
                        </a>
                        Se debe poder visualizar qué casillas han sido marcadas por cuál pieza
                    </li>
                    <li class="collection-item">
                        <a class="secondary-content pull-left">
                            <i class="material-icons">label_outline</i>
                        </a>
                        Se debe poder reiniciar el juego
                    </li>
                    <li class="collection-item">
                        <a class="secondary-content pull-left">
                            <i class="material-icons">label_outline</i>
                        </a>
                        Al terminar se debe mostrar qué pieza fue la ganadora o si ha sido un empate
                    </li>
                </ul>
            </div>
        </li>
    </ul>